<h1>蔵書の一覧</h1>

<ul class="navigation">
<% if params[:action] == "index" %>
<li class="selected">在庫</li>
<% else %>
<li><%= link_to "在庫", :books %></li>
<% end %>
<% if params[:action] == "checked_out" %>
<li class="selected">貸し出し中</li>
<% else %>
<li><%= link_to "貸し出し中", [ :checked_out, :books ] %></li>
<% end %>
</ul>

<%= form_tag [ :search, :books ], :method => :get,
  :style => "text-align: right" do %>
<%= text_field_tag "query", params[:query] %>
<%= submit_tag "検索" %>
<% end %>

<table class="books">
  <col class="title" />
  <col class="authors" />
  <col class="publish_year" />
  <col class="links" />
  <% @books.each do |book| %>
  <tr>
    <td><%= link_to book.title, book %></td>
    <td><%= book.authors %></td>
    <td><%= book.publish_year %></td>
    <td><%= links_for(book) %></td>
  </tr>
  <% end %>
</table>

<%= link_to "新規登録", [ :new, :book ] %>
