<h1>蔵書の新規登録</h1>
<%= form_for @book do |form| %>
<ul>
<li><%= form.label :title, "題名" %><%= form.text_field :title %></li>
<li><%= form.label :authors, "著者" %><%= form.text_field :authors %></li>
<li><%= form.label :publish_year, "出版年" %><%= form.text_field :publish_year %></li>
<li><%= form.check_box :checked_out %><%= form.label :checked_out, "貸し出し中" %></li>
<li><%= form.label :comment, "コメント" %><%= form.text_area :comment %></li>
<li><%= form.submit "送信" %></li>
</ul>
<% end %>
